@media only screen and (min-width : 500px) {
    .chat-container {
        top: 5px;
        text-align: right;
        padding-right: 10%;
    }
}

@media only screen and (max-width : 480px) {
    .chat-container {
        position: absolute;
        bottom: 3em;
        text-align: center;
        width: 100%;
        padding-top: 5px;
    }
}

/* .chat-content {
} */
